Ans 1 .

In [1]:
#string 
a = "This is first python project"

In [2]:
type(a)

str

In [3]:
a

'This is first python project'

In [4]:
# list
l = [1,2,3,"python",546.675,True,6+7j]

In [5]:
type(l)

list

In [6]:
l

[1, 2, 3, 'python', 546.675, True, (6+7j)]

In [7]:
#flot
d = 678.89

In [8]:
type(d)

float

In [9]:
d

678.89

In [10]:
# tuple
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

In [11]:
type(thistuple)

tuple

Ans 2. below

In [12]:
# var 1 
var1 = ''

In [13]:
type(var1)

str

In [14]:
#var 2
var2 = ‘[ DS , ML , Python]’

SyntaxError: invalid character '‘' (U+2018) (723011736.py, line 2)

In [ ]:
type(var2)

The is no such date type for var 2

In [28]:
#var3 
var3 = ['DS , ’ML’ , ‘Python’ ]

SyntaxError: unterminated string literal (detected at line 2) (361044943.py, line 2)

In [ ]:
type(var3)
# the colon are not used properly so it will also throw an error

In [30]:
#var 4
var4 = 1.

In [31]:
type(var4)

float

In [ ]:
var4

Ans 3 Below

In [27]:
# / (This operator is used for division. It retunrs the flot value when dividing the two integer example below  )

x = 10
y = 2
result = x / y
print(result)

5.0

In [26]:
# // (This operator is called the floor division operator , It returns the floor value of the dvision result ex below  )
x = 10
y = 3
result = x//y
print(result)

3

In [24]:
# % ( The % operator is called the modulo operator in Python. It returns the remainder of dividing number . For example)
x = 10
y = 3
result = x%y
print(result)

1

In [25]:
# **(This is power operator in python which will allow to multiply the power example beow)
5**3

125

Ans 4 : Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [32]:
k = [1,2,3,4,5,6,"Python", "Project", 657.45, True, 5+7j]
for l in k :
    print(type(l))
    print (l)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'str'>
Python
<class 'str'>
Project
<class 'float'>
657.45
<class 'bool'>
True
<class 'complex'>
(5+7j)

Ans 5.

In [23]:
a = 20
b = 4
count = 0 
while a % b  == 0 :
    a = a/b
    count +=1 
    print(f"{b} can divide {a} {count} times ")

4 can divide 5.0 1 times

Ans 6 .

In [35]:
l= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for g in l :
    if g % 3 == 0 :
        print (f"{g} is divisible by 3")
else :
    print (f"{g} is not divisible by 3 ")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3
25 is not divisible by 3

7 . What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans : Mutable : In Python, lists are mutable, which means you can modify their elements after they are created. You can add, remove, or change elements within a list.
 immutable : In Python, strings are immutable, which means you cannot modify their characters after they are created. Once a string object is created, any changes to the string will result in the creation of a new string object.

In [36]:
#example of mutable

In [37]:
l= [1,2.5,7]

In [38]:
l

[1, 2.5, 7]

In [40]:
l[1]= 7.8

In [41]:
l

[1, 7.8, 7]

In [42]:
g = 'project'

In [43]:
type(g)

str

In [45]:
g

'project'

In [46]:
g[1]= 0

TypeError: 'str' object does not support item assignment